<!-- 4cm * 2.5 cm,现在打印机上设置好打印纸张的大小为4cm*2.5cm,最好用FF浏览器，因为FF浏览器会自动按这个宽度和高度进行自动分页 -->
<table  cellspacing="0" cellpadding="0" border =0   style="width:4cm;height:2.5cm;border-collapse:collapse; font-size:8px">
<tr>
<td  align="center" valign="top">
<div name='div_diaop_area' style="border:0 solid black; padding-left:0px; padding-top:0px;">
<table border=0 style="border:0 solid black; padding:0 0 0 0; " >
    <tr >
		   <td  align='center'  valign="middle" style="text-align:center; vertical-align:middle; padding-top:0px;" >
		   	<img src='../ordmt/template/qyh_qrcode.jpg' style="width:2.0cm;height:2.0cm;margin-right:0.3cm;" />
		   </td>
	</tr>
</table>
</div>
</td>
</tr>
</table>
