<!-- 8.6cm * 3.7 cm -->
<table  cellspacing="0" cellpadding="0" border =0  width="324px" style="border-collapse:collapse; font-size:8px">
<tr>
<td width="155px" align="center">
<div name='div_diaop_area' style="border:0 solid black; padding-left:0px; padding-top:0px;">
<table border =0 style="border:0 solid black; padding:0 0 0 0; " >
    <tr height='100px'>
		   <td  align='center' style=" vertical-align:top; padding-top:0px;" width="100px" height='100px'>
		   <img src='{fileName_0}' style="width:100%;hieght:100%;"/>
		   </td>
	</tr>
	<tr height="30px" >
			<td align='center' width="150px" valign="bottom" style=" vertical-align:bottom; padding-top:0px;font-size:13px;" >
				{QUANC_0}<br/>{DAIM_0}</td>
    </tr>
</table>
</div>
</td>
<td width="18px">
</td>
<td width="155px" align="center">
<div name='div_diaop_area' style="border:0 solid black; padding-left:0px; padding-top:0px;">
<table border =0 style="border:0 solid black; padding:0 0 0 0; ">
     
    
    <tr height='100px'>
		   <td  align='center' style=" vertical-align:top; padding-top:0px;" width="100px" height='100px'>
		   <img src='{fileName_1}' style="width:100%;hieght:100%;"/>
		   </td>
	</tr>
	<tr height="30px">
			<td align='center' width="150px"  valign="bottom" style=" vertical-align:bottom; padding-top:0px;font-size:13px;" >
				{QUANC_1}<br/>{DAIM_1}</td>
    </tr>
</table>
</div>
</td>
</tr>
</table>
