<!-- 4cm * 2.5 cm,现在打印机上设置好打印纸张的大小为4cm*2.5cm -->
<table  cellspacing="0" cellpadding="0" border =0   style="width:4cm;height:2.5cm;border-collapse:collapse; font-size:8px">
<tr>
<td  align="center" valign="top">
<div name='div_diaop_area' style="border:0 solid black; padding-left:0px; padding-top:0px;">
<table border=0 style="border:0 solid black; padding:0 0 0 0; " >
    <tr >
		   <td  align='center'  valign="middle" style="text-align:center; vertical-align:middle; padding-top:0px;" >
		   	<img src='{fileName_0}' style="width:1.5cm;height:1.5cm;margin-top:0.2cm;margin-right:0.3cm;" />
		   </td>
	</tr>
	<tr>
			<td align='center'  valign="top" style="width:4cm;height:0.7cm;margin-top:0.1cm;text-align:center; vertical-align:top; padding-top:0px;font-size:10px;" >
				{QUANC_0}({DAIM_0})
			</td>
    </tr>
</table>
</div>
</td>
</tr>
</table>
