<!DOCTYPE html>
<html style="font-size: 20px;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订货系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" href="./css/sm.min.css">
    <link rel="stylesheet" href="./css/sm-extend.min.css">
     <link rel="stylesheet" href="mobile.css" >
	<style>



	</style>
  </head>
  <body>
  <div  id="tap_effect" >
  </div>
  <!-- 离今日订货结束还差60分钟，注意数据保存！-->
  <div id="od_closeing_info">离今日订货结束还差60分钟，注意数据保存！</div>
  <nav id="bottom_bar" class="bar bar-tab" style="z-index:6666;display:none;">
  	<a id="bottom_bar_od_info" class="tab-item active" href="#od_info">
    	<span class="icon icon-home"></span>
        <span class="tab-label">订货</span>
    </a>
    <a id="bottom_bar_od_mypage" class="tab-item" href="#od_mypage">
        <span class="icon icon-me"></span>
        <span class="tab-label">我</span>
    </a>
  </nav>

 
    <div class="page-group"> 
        <div class="page page-current" id="od_loginpage"> 
        	<header class="bar bar-nav">
              <h1 class='title' id="od_loginpage_title">现场订货会</h1>
            </header>
            
            <div class="content">
            	<div class="list-block">
                	<ul>
                    	<li>
                    	<div class="item-content">
                          <div class="item-media"><i class="icon icon-form-name"></i></div>
                          <div class="item-inner">
                            <div class="item-title label">登录名:</div>
                            <div class="item-input">
                              <input id="od_loginpage_username"  type="text" placeholder="输入登录名">
                            </div>
                          </div>
                        </div>
                        </li>
                        <li>
                            <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-password"></i></div>
                              <div class="item-inner">
                                <div class="item-title label">密码</div>
                                <div class="item-input">
                                  <input id="od_loginpage_password" type="password" placeholder="输入密码" class="">
                                </div>
                              </div>
                            </div>
                        </li>
                        <li>
                        	
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                	<div class="row">            
                    	<div class="col-50"><a href="#" class="button button-big button-fill button-danger">退出</a></div>
                        <div class="col-50"><a href="#" id="od_loginpage_login_btn" class="button button-big button-fill button-success">登录</a></div>
                    </div>
                </div>
                
                <div class="content-block">
                    <div class="hi-icon-wrap-login hi-icon-effect-7-login">
                        <a href="#" id="od_loginpage_scanQRCode_btn"  class="hi-icon-login hi-icon-scale">扫描登录</a>
                    </div>
                </div>
            </div>
            
        </div> <!--#od_page -->
        
        
            
        <div class="page" id="od_info" >  
        	<div id="qrcode_button" class="hi-icon-wrap hi-icon-effect-7">
       			<a href="#"  id="od_info_scanQRCode_btn" class="hi-icon hi-icon-cycle external">扫一扫</a>
			</div>  
            <div id="od_info_cannot_order" ></div>
            <div id="od_info_unsave_tips">未保存</div>
             <div class="content" >                 
                 <div class="card" id="od_info_sample_info">
                    <div class="card-header">
                    	<div class="list-block" style="width:100%;">
                            <ul>
                                <li>
                                <div class="item-content" style="padding-left:0px;">
                                  
                                  <div class="item-inner">
                                    <div class="item-title label" style="width:4.5rem;font-weight:bold;">样衣编号:</div>
                                    <div class="item-input">
                                      <input id="od_info_input" type="text" placeholder="请输入样衣编号" v-model="sampnm">
                                    </div>
                                    <a href="#" id="od_info_scan_button" class="button button-fill button-success">查询</a><!-- -->
                                  </div>
                                </div>
                                </li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content" style="display:none;">
                      <div class="card-content-inner">
                      		<div class="row">      
                              <div class="col-50">大系列:{{spbseno_name }}</div>
                              <div class="col-50">系列:{{spseno_name }}</div>
                            </div>
                            <div class="row">
                              <div class="col-50">版型:{{versno_name }}</div>
                              <div class="col-50">定位:{{splcno_name }}</div>          
                            </div>
                            <div class="row">
                              <div class="col-50">上市批次:{{spbano_name }}</div>
                              <div class="col-50"></div>
                            </div>
                            <div class="row" v-show="!showSuitStpres">
                              <div class="col-50">出厂价:{{spftpr }}</div>
                              <div class="col-50">零售价:{{sprtpr }}</div>
                            </div>
                            <template v-if="showSuitStpres" v-for="suitStpr in suitStpres">
                            	<div class="row" >
                                  <div class="col-50">{{suitStpr.suitno_name}}-出厂价:{{ suitStpr.spftpr }}</div>
                                  <div class="col-50">{{suitStpr.suitno_name}}-零售价:{{ suitStpr.sprtpr }}</div>
                                </div>
                            </template>
                      </div>
                    </div>
                  </div><!--card -->
                  
                  <!--  套件的开始 -->
                  <div id="od_info_suitVOs">
                 <!--  <component-suitvos :suitvos="suitvos" ></component-suitvos>-->
                  <template v-for="suitVO in suitVOs">
                  <div class="card" id="od_info_{{ suitVO.suitno }}">
                    <div class="card-header">
                    	<div class="list-block" style="width:100%;">
                            <ul>
                                <li>
                                <div class="item-content" style="padding-left:0px;">
                                  
                                  <div class="item-inner">
                                    <div id="od_info_{{ suitVO.suitno_name }}_label" class="item-title label" onClick="card_card__header_item__title_label(this)" style="width:5rem;font-weight:bold;">{{ suitVO.suitno_name }}-数量:</div>
                                    <div class="item-input">
                                      <input id="od_info_{{ suitVO.suitno }}_input" data-index="{{$index}}" v-on:change="distributeormtqt" onClick="card_header_input_click(this)" type="number" placeholder="请输入总订货数量" v-model="suitVO.ormtqt">
                                    </div>
                                    <span class="icon icon-up" onClick="card_header_item_content_icon(this)"></span>
                                  </div>
                                </div>
                                </li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content guig_content" style="display:none;">
                      <div class="card-content-inner">
                       <div class="list-block">
                        <ul>

                          <!-- Text inputs -->
                          <li>
                            <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-name"></i></div>
                              <div class="item-inner">
                                <div class="item-title label" style="font-weight:bold;width:60%;">规格<span style="font-size:0.6rem;color:gray;">(占比)</span>:</div>
                                <div class="item-input" style="font-weight:bold;">订货数量:</div>
                              </div>
                            </div>
                          </li>
                          
                          <template v-for="sizeVO in suitVO.sizeVOs">
                          <li>
                            <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-email"></i></div>
                              <div class="item-inner">
                                <div class="item-title label" style="width:60%;">{{sizeVO.sizenm}}<span style="font-size:0.6rem;color:gray;">({{sizeVO.szrate}})</span></div>
                                <div class="item-input">
                                  <input type="number" min="0" placeholder="{{sizeVO.sizenm}}的订货数量" v-model="sizeVO.orszqt" data-suitno="{{ suitVO.suitno }}" v-on:change="sumOrszqt" >
                                </div>
                              </div>
                            </div>
                           </li>
                           </template>
                          
                        </ul>
                      </div><!-- list-block -->
                      </div><!-- card-content-inner -->
                    </div><!-- card-content -->
                    
                  </div><!--card -->
                  </template>
                  </div><!-- # od_info_suitVOs-->
                  <!--  套件的结束 -->
                  
                 
                  <div id="od_info_saveAndclear_button" class="content-block" style="padding-bottom:2rem;display:none;" >
                    <div class="row">
                      <div class="col-50"><a id="od_info_clear_button" href="#" class="button button-big button-fill button-danger">清零</a></div>
                      <div class="col-50"><a id="od_info_save_button" href="#" class="button button-big button-fill button-success">保存</a></div>
                    </div>
                  </div>
                  
             </div><!--content -->
        </div>
        
        
        <div class="popup popup_abstat">
           <div class="content-block">
                <p>Services</p>
                <p><a href="#" class="close-popup">Close popup</a></p>
                <p>Lorem ipsum dolor ...</p>
           </div>
        </div>     
        <div class="page" id="od_mypage"> 
        	<!--<header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
                  <span class="icon icon-left"></span>
                  返回
              </a>
              <h1 class='title'>宁波区域</h1>
            </header>-->
   
            <div class="content">
            	<div class="card" id="od_mypage_myinfo_card" style="display:none;">
                    <div class="card-header">我:{{ orgnm }}</div>
                    <div class="card-content">
                      <div class="card-content-inner">
                      		<div class="row">
                              <div class="col-50">指标金额(万元):{{qymtam}}</div>
                              <div class="col-50">指标数量(件):{{qymtqt}}</div>
                            </div>
                            <div class="row">
                              <div class="col-50">实订金额(万元):{{ormtam}}</div>
                              <div class="col-50">实订数量(件):{{ormtqt}}</div>
                            </div>
                            <div class="row">
                              <div class="col-60">&nbsp; </div>
                              <div class="col-40" ><a href="#" id="od_mypage_confirm_button" style="display:none;width:4rem;"  class="button button-fill button-success">订货完成</a><a href="#" id="od_mypage_over_button"  style="display:none;width:4rem;" class="button button-fill button-success">平衡完成</a></div>
                            </div>
                           
                      </div>
                    </div>
                  </div><!--card -->
                  
                  <div class="content-block-title">报表清单</div>
                  <div class="list-block">
                    <ul>
                      <li class="item-content item-link">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">未定的必定款样衣</div>
                        </div>
                      </li>
                      <li class="item-content item-link">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">订货统计-按实订样衣</div>
                        </div>
                      </li>
                      <li class="item-content item-link">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">订货统计-按商品类
</div>
                        </div>
                      </li>
                      <li class="item-content item-link">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">订货统计-按价位
</div>
                        </div>
                      </li>
                    </ul>
                  </div><!-- 报表清单-->
            </div><!-- content-->
        </div><!-- #od_mypage -->
        
        
        

        
	</div><!-- page-group -->
    



	<!--			
    <script type='text/javascript' src='./js/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='./js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='./js/sm-extend.min.js' charset='utf-8'></script>-->
    
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='./js/vue.js' charset='utf-8'></script>
    <script type='text/javascript' src='mobile.js' charset='utf-8'></script>
    
	
    <script>

		$(function(){
			

			



		});
	</script>
  </body>
</html>