<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="mobile.css" >
  </head>
  <body>
    <div class="page-group">
        <div class="page page-current" id="od_yxgs"> 
            <div class="content">
            	  
                    <a href="#" id="od_yxgs_confirm_btn" class="button button-fill button-success disabled" style="display:none;margin-top:10px;">订货完成-确认</a>
                  
                  
                  <div class="content-block-title">报表清单</div>
                  <div class="list-block">
                    <ul>
                      
                      <li>
                      	<a href="#report_alreadyod" data-no-cache="true" class="item-link item-content">
                        <div class="item-inner">    
                          <div class="item-title">订货统计-按已订样衣</div>
                        </div>
                        </a>
                      </li>
                      <li>
                        <a href="#report_spclno" data-no-cache="true" class="item-link item-content">
                        <div class="item-inner">    
                          <div class="item-title">订货统计-按商品类</div>
                        </div>
                        </a>
                      </li>
                      <li>
                        <a href="#report_money" data-no-cache="true" class="item-link item-content">
                        <div class="item-inner">
                          <div class="item-title">订货统计-按价位段</div>
                        </div>
                        </a>
                      </li>
                      <li>
                        <a href="#report_org" data-no-cache="true" class="item-link item-content">
                        <div class="item-inner">
                          <div class="item-title">订货统计-按渠道</div>
                        </div>
                        </a>
                      </li>
                    </ul>
                  </div><!-- 报表清单-->
            </div><!-- content-->
        </div><!-- #od_yxgs -->
        
        
         <!--订货统计-按商品类 -->
        <div class="page" id="report_spclno" >
            <header class="bar bar-nav"> 
              <a class="button button-link button-nav pull-left back" href="#"> <span class="icon icon-left"></span> 返回 </a> 
              <a class="pull-right open-panel button button-link button-nav" data-panel='#report_query_params'>  <span class="icon icon-search " style="font-size:1rem;">&nbsp;筛选</span></a>
              <!--<h1 class='title'>..........</h1>-->
            </header>
            <div class="content" style="padding-right:8px;display:none;">
              <table class="report_table">
                <thead>
                  <tr>
                    <th>大类</th>
                    <th>订货金额</th>
                    <th>计划金额</th>
                    <th>完成率</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="todo in todos">
                    <td>{{todo.spclnm}}</td>
                    <td>{{todo.ormtam_wan}}</td>
                    <td>{{todo.qymtam}}</td>
                    <td>{{todo.wancl}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- #report_spclno -->
          
          <!-- 订货统计-按价位-->
          <div class="page" id="report_money" >
            <header class="bar bar-nav"> 
              <a class="button button-link button-nav pull-left back" href="#"> <span class="icon icon-left"></span> 返回 </a> 
              <a class="pull-right open-panel button button-link button-nav" data-panel='#report_query_params'>  <span class="icon icon-search " style="font-size:1rem;">&nbsp;筛选</span></a>
              <!--<h1 class='title'>..........</h1>-->
            </header>
            <div class="content" style="padding-right:8px;display:none;">
              <table class="report_table">
                <thead>
                  <tr>
                    <th>价格段</th>
                    <th>订货金额</th>
                    <th>占比</th>
                    <th>订货品种</th>
                    <th>占比</th>
                    <th>订货数量</th>
                    <th>占比</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="todo in todos">
                    <td>{{todo.sprtpr}}</td>
                    <td>{{todo.ormtam_wan}}</td>
                    <td>{{todo.ormtam_zb}}</td>
                    <td>{{todo.sampnocount}}</td>
                    <td>{{todo.sampnocount_zb}}</td>
                    <td>{{todo.ormtqt}}</td>
                    <td>{{todo.ormtqt_zb}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- #report_money -->
          
          
          
          <!-- 订货统计-按渠道-->
          <div class="page" id="report_org" >
            <header class="bar bar-nav"> 
              <a class="button button-link button-nav pull-left back" href="#"> <span class="icon icon-left"></span> 返回 </a>
              <a class="pull-right open-panel button button-link button-nav" data-panel='#report_query_params'>  <span class="icon icon-search " style="font-size:1rem;">&nbsp;筛选</span></a>
              <!--<h1 class='title'>..........</h1>-->
            </header>
            <div class="content" style="padding-right:8px;display:none;">
              <table class="report_table">
                <thead>
                  <tr>
                    <th>渠道</th>
                    <th>订货金额</th>
                    <th>计划金额</th>
                    <th>完成率</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="todo in todos">
                    <td>{{todo.orgnm}}</td>
                    <td>{{todo.ormtam_wan}}</td>
                    <td>{{todo.qymtam}}</td>
                    <td>{{todo.wancl}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- #report_org -->
          
          
            <!-- 已订样衣-->
          <div class="page" id="report_alreadyod" >
            <header class="bar bar-nav"> 
              <a class="button button-link button-nav pull-left back" href="#"> <span class="icon icon-left"></span> 返回 </a>
              <a class="pull-right open-panel button button-link button-nav" data-panel='#report_query_params'>  <span class="icon icon-search " style="font-size:1rem;">&nbsp;筛选</span></a>
              <!--<h1 class='title'>..........</h1>-->
            </header>
            
            <div  class="content infinite-scroll infinite-scroll-bottom" data-distance="100" style="padding-right:8px;display:none;" >
            <div class="row" style="margin-left:10px;text-align:center;font-size:0.7rem;">
              已订品种数:<span style="color:red;">{{totalData.sampnocount}}</span>种<span style="color:red;">/</span>
              已订数量:<span style="color:red;">{{totalData.ormtqt}}</span>件<span style="color:red;">/</span>
              已订金额:<span style="color:red;">{{totalData.ormtam}}</span>万
            </div>
            <div class="row" v-for="todo in todos">
               <div class="col-50" v-for="samp in todo">
                  <div class="card demo-card-header-pic" >
                    <div valign="bottom" class="card-header color-white no-border no-padding">
                      <img class='card-cover' v-bind:src="samp.imgnm" alt="">
                    </div>
                    <div class="card-content">
                      <div class="card-content-inner" style="padding:0px;padding-left:5px;">
                        <p  style="margin-bottom:0px;margin-top:0px;">样衣编号:{{samp.sampnm}}</p>
                        <p style="margin-bottom:0px;margin-top:0px;">零售价:{{samp.sprtpr}}</p>
                        <p style="margin-bottom:0px;margin-top:0px;">订货数量:{{samp.ormtqt}}</p>
                      </div>
                    </div>
                    <div class="card-footer" style="padding-top:0px;padding-bottom:0px;line-height:1rem;min-height:1.5rem;">
                      <a href="#" class="link " style="height:1rem;margin:0px;"><span class="circle13">{{samp.rownum}}</span></a>
                      <a href="#sample_info" class="link sample_info_link" v-bind:data-sampno="samp.sampno" style="height:1rem;margin:0px;">更多</a>
                    </div>
                  </div>
                </div><!-- 50%-->
               
       
              </div>
              <!-- 加载提示符 -->
              <div class="infinite-scroll-preloader">
                  <div class="preloader"></div>
              </div>
            </div><!-- content-->
          </div><!-- #report_alreadyod -->
          
          
          <!-- 样衣信息-->
          <div class="page" id="sample_info" >
          	<header class="bar bar-nav"> 
              <a class="button button-link button-nav pull-left back" href="#"> <span class="icon icon-left"></span> 返回 </a>
            	<h1 class='title'>样衣详细信息</h1>
            </header>
            <div class="content">

            <template v-for="todo in todos">
               <div class="content-block-title">{{todo.sampnm}}</div>
               <div class="swiper-container" data-space-between='10'>
                <div class="swiper-wrapper">
                  <div class="swiper-slide" v-for="photo in todo.photoes">
                  	<img src="v-bind:src="photo.imgnm"" alt="">
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="card-content">  
                  <div class="buttons-tab">
                    <a href="#tab1" class="tab-link active button">企划</a>
                    <a href="#tab2" class="tab-link button">设计</a>
                  </div> 
                   <div class="tabs" >
                      <div id="tab1" class="tab active">     
                          <div class="list-block">
                            <ul>
                              <li class="item-content" v-for="field in todo.tab1">
                                <div class="item-inner">
                                  <div class="item-title">{{field.name}}</div>
                                  <div class="item-after">{{field.value}}</div>
                                </div>
                              </li>
                            </ul>
                          </div>
                       </div><!-- tab1 -->
                       <div id="tab2" class="tab">
                       	  <div class="list-block">
                            <ul>
                              <li class="item-content" v-for="field in todo.tab2">
                                <div class="item-inner">
                                  <div class="item-title">{{field.name}}</div>
                                  <div class="item-after">{{field.value}}</div>
                                </div>
                              </li>
                            </ul>
                          </div>
                       </div><!-- tab2 -->
                    
                     </div><!-- tabs-->
                  </div><!--card-conten -->
            </template>           
            </div><!--content -->
          </div><!--sample_info -->
          
          
    </div><!-- page-group -->
    
    
        <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-right panel-cover theme-white" id='report_query_params'>
    
      <div class="card" id='report_query_params_bradno' style="display:none;">
        <div class="card-header" style="min-height:1rem;color:gray;">
        品牌<span class="icon icon-up" style="position:absolute;right:0.5rem;"></span>
        </div>
        <div class="card-content" >
          <div class="card-content-inner">
          <!--
            <a href="#" class="button button-light param-btn button-success button-fill" >衬衫</a>
            <a href="#" class="button button-light param-btn ">西服</a>
            <a href="#" class="button button-light param-btn">裤子</a>
            <a href="#" class="button button-light param-btn" >衬衫</a>
            <a href="#" class="button button-light param-btn">西服</a>
            <a href="#" class="button button-light param-btn">裤子</a>
            <div style="clear:both;"></div>
            -->
     	  </div>
        </div>
      </div><!--card-->
      
      <div class="card" id='report_query_params_spclno' style="display:none;">
        <div class="card-header" style="min-height:1rem;color:gray;">
        	大类<span class="icon icon-up" style="position:absolute;right:8px;"></span>
        </div>
        <div class="card-content">
          <div class="card-content-inner">   
     	  </div>
        </div>
      </div><!--card-->
      <div class="card" id='report_query_params_sptyno' style="display:none;">
        <div class="card-header" style="min-height:1rem;color:gray;">
        	小类<span class="icon icon-down" style="position:absolute;right:8px;"></span>
        </div>
        <div class="card-content" style="display:none;">
          <div class="card-content-inner">   
     	  </div>
        </div>
      </div><!--card-->
      <div class="card" id='report_query_params_spseno' style="display:none;">
        <div class="card-header" style="min-height:1rem;color:gray;">
        	系列<span class="icon icon-down" style="position:absolute;right:8px;"></span>
        </div>
        <div class="card-content" style="display:none;">
          <div class="card-content-inner">   
     	  </div>
        </div>
      </div><!--card-->
      <div class="card" id='report_query_params_ordorg' style="display:none;">
        <div class="card-header" style="min-height:1rem;color:gray;">
        	订货单位<span class="icon icon-down" style="position:absolute;right:8px;"></span>
        </div>
        <div class="card-content" style="display:none;">
          <div class="card-content-inner">   
     	  </div>
        </div>
      </div><!--card-->
      
      <!--
      	<p class="buttons-row" >
        	<a href="#" class="button" id="report_query_params_reset">重置</a>
            <a href="#" class="button active button-danger" id="report_query_params_complete">完成</a>
        </p>
      -->
      <div class="row">
          <div class="col-50"><a href="#" class="button button-dark" id="report_query_params_reset">重置</a></div>
          <div class="col-50"><a href="#" class="button button-fill button-danger" id="report_query_params_complete">查询</a></div>
      </div>
    </div>


    	<!--			
    <script type='text/javascript' src='./js/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='./js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='./js/sm-extend.min.js' charset='utf-8'></script>-->
    
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='./js/vue.js' charset='utf-8'></script>
    <script type='text/javascript' src='yxgs.js' charset='utf-8'></script>
    <script type='text/javascript' src='./report/report.js' charset='utf-8'></script>

  </body>
</html>